<div class="body d-flex justify-content-center align-items-center" style="height: 100%">
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Error 404 Not found</div>
        <div class="card-body">
          <p class="card-text">Ingresaste a una pagina inexistente</p>
          <div class="d-grid gap-2">
            <button routerLink="/dashboard"  type="button" name="" id="" class="btn btn-primary">Back to home</button>
          </div>
        </div>
      </div>    
</div>
